@using Microsoft.AspNetCore.Identity
@inject UserManager<Utilisateur> UserManager
@model IEnumerable<Utilisateur>

@{
    ViewData["Title"] = "Liste Utilisateur";
}

@if (UserManager.GetUserAsync(User).Result.Role == "admin")
{
<div class="listeUser" style="height:100vh;">
    <div class="user_header">
            <div class="dash_search_container">
                <input class="dash_input" type="text" placeholder="Search...">
                <button class="dash_icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="btn dash_button2">
                <i class="fa-solid fa-plus"></i>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <button id="btnPdf" class="btn" style="text-decoration:none;color:#fff;">Generate PDF</button>
            </div>
    </div>


   <div class="listeUserContainer" style="border-radius: 25px;background: #FFF;height:90%;padding-left:25px;">

            
            <table class="table" id="pdfContainer">
            <thead>
                <tr>
                        
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Prenom)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Ville)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Adresse)
                    </th>
                        <th style="border-bottom:none;padding-bottom: 20px;">
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                        
                        <th style="border-bottom:none;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                            
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Prenom)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Ville)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Adresse)
                        </td>
                            <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                            
                            <td class="td_tache" style="border-bottom:none;">
                                <a asp-action="UserDetails" asp-route-id="@item.Id" style="color: #3A3882;text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;text-decoration: none;
    padding: 0 10px;">Details</a>

                                <a asp-action="EditUtilisateur" asp-route-id="@item.Id" style="color: rgba(252, 164, 101, 0.88);text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;text-decoration: none;
    padding: 0 10px;">Edit</a>
                                @if (UserManager.GetUserId(User) != item.Id)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: #7D4FFE;text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;text-decoration: none;
    padding: 0 10px;"> Delete </a>
                                }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
   </div>
</div>

    @*pour la generation de pdf *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        const buttonToPdf = document.querySelector("#btnPdf");

        buttonToPdf.addEventListener("click", () => {
            const element = document.querySelector('#pdfContainer');

            html2pdf(element, { filename: 'Liste_Users.pdf', });


        })

    </script>
}
else
{
    <div>YOU ARE NOT ADMIN</div>
}