@using Microsoft.AspNetCore.Identity
@inject UserManager<Utilisateur> UserManager
@model IEnumerable<TaskBuddy.Models.Tache>

@{
    ViewData["Title"] = "ListeTaches";
}
<div class="listeTache" style="height:100vh;">
    <div class="task_header">
        <div class="dash_search_container">
            <input class="dash_input" type="text" placeholder="Search...">
            <button class="dash_icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="btn dash_button2">
            <i class="fa-solid fa-plus"></i>
            <a  asp-action="CreateTache" style="text-decoration:none;color:#fff;">Create New Task</a>
        </div>
    </div>
    

    <div class="listeTacheContainer" style="border-radius: 25px;background: #FFF;height:90%;padding-left:25px;">

    

        <table class="table">
            <thead>
                <tr>
                    <th style="border-bottom:none;">
                
                    </th>
                    <th style="border-bottom:none;padding-bottom: 20px;width: 33%;">
                        Task Title
                    </th>
                    <th style="border-bottom:none;padding-bottom: 20px;">
                       Status
                    </th>
                    <th style="border-bottom:none;padding-bottom: 20px;">
                        Due Date
                    </th>
                    <th style="border-bottom:none;padding-bottom: 20px;">
                        Priority
                    </th>
                    <th style="border-bottom:none;padding-bottom: 20px;">
                        Reward
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                        <td style="border-bottom:none;" class="custom-checkbox">
                            <input type="checkbox" id="task_@item.IdTask" name="task" value="@item.IdTask" class="hidden-checkbox">
                            
                            <label for="task_@item.IdTask" class="checkbox-label">
                                @if (item.Etat == "in progress")
                                {
                                    <i class="fa-solid fa-plus" style="background:#7D4FFE;color:#FFF;border-radius:50%;padding:5px;"></i>
                                }
                                else if (item.Etat == "done")
                                {
                                    <i class="fa-solid fa-minus" style="background:#7D4FFE;color:#FFF;border-radius:50%;padding:5px;"></i>
                                }
                            </label>
                    </td >
                        <td class="td_tache" style="border-bottom:none;width: 33%;">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                        <td class="td_tache" style="border-bottom:none;">
                        @Html.DisplayFor(modelItem => item.Etat)
                    </td>
                        <td class="td_tache" style="border-bottom:none;">
                            @Html.DisplayFor(modelItem => item.DateF)
                    </td>
                        <td class="td_tache" style="border-bottom:none;">
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                        <td class="td_tache" style="border-bottom:none;">
                       @Html.DisplayFor(modelItem => item.Reward)
                     </td>

                        <td style="border-bottom:none;">
                            <a class="btn" asp-controller="Tache" asp-action="EditTache" asp-route-id="@item.IdTask" 
                            style="color: #7D4FFE;text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;">
                            Edit</a>
                            <a class="btn" asp-controller="Tache" asp-action="Details" asp-route-id="@item.IdTask" style="color: #3A3882;text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;">
                            Details</a>
                            <a class="btn" asp-controller="Tache" asp-action="DeleteTache" asp-route-id="@item.IdTask" style="color: rgba(252, 164, 101, 0.88);text-align: center;font-family: Poppins;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;">
                            Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>