@using Microsoft.AspNetCore.Identity
@inject UserManager<Utilisateur> UserManager
@model IEnumerable<TaskBuddy.Models.Tache>

@{
    ViewData["Title"] = "ListeTaches";
}
<div class="listeTache">

    <p>
        <a class="btn btn-dark" asp-action="CreateTache" >Create New Task</a>
    </p>

    <div class="listeTacheContainer">

    

        <table class="table">
            <thead>
                <tr>
                    <th>
                
                    </th>
                    <th>
                        Task Title
                    </th>
                    <th>
                       Status
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Reward
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                            <input type="checkbox" id="task" name="task" value="">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etat)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.DateF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reward)
                    </td>
                     <td>
                       @Html.DisplayFor(modelItem => item.Note)
                     </td>

                    <td>
                            <a class="btn btn-success" asp-controller="Tache" asp-action="EditTache" asp-route-id="@item.IdTask">Edit</a> |
                            <a class="btn btn-secondary" asp-controller="Tache" asp-action="Details" asp-route-id="@item.IdTask">Details</a> |
                            <a class="btn btn-danger" asp-controller="Tache" asp-action="DeleteTache" asp-route-id="@item.IdTask">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>