@model IEnumerable<TaskBuddy.Models.Utilisateur>

@{
    ViewData["Title"] = "listeuser";
}

<h1><i>liste Des Utilisateur</i></h1>

<p>
    <a asp-controller="UtilisateurController1" asp-action="crerUser" class="btn btn-primary">Create New USER</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
             <td class="algin-middel">
               <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.Photo)" style="max-width:100px">
            </td>
            <td>
                    <a asp-controller="UtilisateurController1" asp-action="modifier" asp-route-id="@item.IdUtilisateur" class="btn btn-primary">Edit</a> |
                    <a asp-controller="UtilisateurController1" asp-action="afficher" asp-route-id="@item.IdUtilisateur" class="btn btn-secondary">afficher</a> |
                    <a asp-controller="UtilisateurController1" asp-action="supprimer" asp-route-id="@item.IdUtilisateur" class="btn btn-success">supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
